<div class="spinner" *ngIf="!isLoaded">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div class="wrapper" *ngIf="isLoaded && courseForm">
  <div class="form-content">
    <mat-toolbar class="login-toolbar" color="primary" class="d-flex justify-evenly">
      <div class="m-auto">
        <span>Create Course</span>
      </div>
    </mat-toolbar>
    <mat-card>
      <form [formGroup]="courseForm" (ngSubmit)="onSubmit()" id="addForm" class="d-flex flex-column mx-3 my-1">
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput placeholder="Title" formControlName="title" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <input matInput placeholder="Description" formControlName="description" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Thumbnail URL</mat-label>
          <input matInput placeholder="Thumbnail URL" formControlName="thumbnail">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Price</mat-label>
          <input matInput type="number" placeholder="Price" formControlName="price">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Categories</mat-label>
          <mat-select multiple name="countries" formControlName="categories">
            <mat-option *ngFor="let category of categoryList" [value]="category.id">
              {{ category.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <mat-slide-toggle formControlName="isFileMethod" (change)="onSlideToggleChange($event)" class="my-2">Import Lessons with CSV
          File</mat-slide-toggle>

        <div *ngIf="isFileMethod">
          <!-- File Upload Form -->
          <input type="file" class="form-control my-2" (change)="onFileChange($event)" accept=".csv" />
          <!-- <button mat-raised-button color="primary" (click)="uploadCSV()">Upload CSV</button> -->
        </div>


        <div formArrayName="lessons" *ngIf="!isFileMethod">
          <div *ngFor="let lesson of lessons.controls; let i = index" class="lesson-group">
            <ng-container [formGroupName]="i">

              <h4 class="m-0 d-flex align-items-center justify-content-between"><span>Lesson {{ i + 1 }}</span> <button
                  mat-icon-button size="30" color="warn"
                  (click)="removeLesson(i)"><mat-icon>remove_circle</mat-icon></button>
              </h4>
              <mat-form-field>
                <mat-label>Lesson Description</mat-label>
                <input matInput placeholder="Lesson Description" formControlName="description">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Lesson URL</mat-label>
                <input matInput placeholder="Lesson URL" formControlName="url" required>
                <mat-hint style="color: #f44336">Example URL: https://www.youtube.com/watch?v=dQw4w9WgXcQ</mat-hint>
              </mat-form-field>

            </ng-container>

          </div>
        </div>

        <button mat-raised-button color="primary" type="button" (click)="addLesson()">Add Lesson</button>

        <button type="submit" mat-raised-button color="primary" class="mt-1" [disabled]="courseForm.invalid || isFileMethod===true && isFileUploaded===false">
          Create Course </button>

      </form>
    </mat-card>
  </div>
</div>