<div class="d-flex align-items-center justify-content-between">
  <div class="logodiv">
    <a routerLink="" class="logo">CourseFlow</a>
  </div>
  <span class="example-spacer"></span>
  <div class="d-flex align-items-center" *ngIf="user">
    <button mat-stroked-button color="primary" class="bg-white" routerLink="/user">
      {{ user.username }}
    </button>
    <a *ngIf="user.username == 'admin'; else add" routerLink="/course/all-non-public" mat-icon-button>
      <mat-icon>folder</mat-icon>
    </a>
    <ng-template #add>

      <a routerLink="/course/create" mat-icon-button>
        <mat-icon>library_add</mat-icon>
      </a>
    </ng-template>
  </div>
  <div *ngIf="!user">
    <div class="text-end">
      <a routerLink="register">
        <button mat-button color="accent" class="mx-3">Sign up</button>
      </a>
      <a routerLink="login">
        <button mat-raised-button color="accent">Log In</button>
      </a>
    </div>
  </div>
  <div *ngIf="user">
    <a>
      <button mat-raised-button color="accent" (click)="logout()">
        Logout
      </button>
    </a>
  </div>
</div>